html
  head
    link(href=require('Styles/main.scss') rel="stylesheet")
    link(href=require('Styles/main2.scss') rel="stylesheet")
  body
    .header Home
    img.a(src=require('Images/image.png?size=100'))
    img.b(src=require('../assets/images/image.png?size=100'))