$color: #262626;
$padding: 20px;

body {
  font-family: monospace;
  background-color: #0d1117;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 15px 20px;
  color: #C21F39;
  background-color: #ffffff;
}

h2 {
  margin: 0;
}

img {
  width: 120px;
}

.main-content {
  color: $color;
}

#app-root {
  padding: $padding;
  background-color: #ffe280;

  .colors {
    width: 120px;
    color: yellow;
    text-align: center;
  }
}

#static-content {
  padding: $padding;
  background-color: #7fffb8;
}
