$black: #2d3436 !default;
$white: #ffffff !default;
$color-1: #d63031 !default;
$color-2: #fdcb6e !default;
$color-3: #0984e3 !default;

@mixin colorsRootVariables() {
  @include defineColorHex(--myb-white-dark-80, shade($white, 80%));
  @include defineColorHex(--myb-white-dark-70, shade($white, 70%));
  @include defineColorHex(--myb-white-dark-60, shade($white, 60%));
  @include defineColorHex(--myb-white-dark-50, shade($white, 50%));
  @include defineColorHex(--myb-white-dark-40, shade($white, 40%));
  @include defineColorHex(--myb-white-dark-30, shade($white, 30%));
  @include defineColorHex(--myb-white-dark-20, shade($white, 20%));
  @include defineColorHex(--myb-white-dark-10, shade($white, 10%));
  @include defineColorHex(--myb-white, $white);
  @include defineColorHex(--myb-white-light-10, tint($white, 10%));
  @include defineColorHex(--myb-white-light-20, tint($white, 20%));
  @include defineColorHex(--myb-white-light-30, tint($white, 30%));
  @include defineColorHex(--myb-white-light-40, tint($white, 40%));
  @include defineColorHex(--myb-white-light-50, tint($white, 50%));
  @include defineColorHex(--myb-white-light-60, tint($white, 60%));
  @include defineColorHex(--myb-white-light-70, tint($white, 70%));
  @include defineColorHex(--myb-white-light-80, tint($white, 80%));

  @include defineColorHex(--myb-black-dark-80, shade($black, 80%));
  @include defineColorHex(--myb-black-dark-70, shade($black, 70%));
  @include defineColorHex(--myb-black-dark-60, shade($black, 60%));
  @include defineColorHex(--myb-black-dark-50, shade($black, 50%));
  @include defineColorHex(--myb-black-dark-40, shade($black, 40%));
  @include defineColorHex(--myb-black-dark-30, shade($black, 30%));
  @include defineColorHex(--myb-black-dark-20, shade($black, 20%));
  @include defineColorHex(--myb-black-dark-10, shade($black, 10%));
  @include defineColorHex(--myb-black, $black);
  @include defineColorHex(--myb-black-light-10, tint($black, 10%));
  @include defineColorHex(--myb-black-light-20, tint($black, 20%));
  @include defineColorHex(--myb-black-light-30, tint($black, 30%));
  @include defineColorHex(--myb-black-light-40, tint($black, 40%));
  @include defineColorHex(--myb-black-light-50, tint($black, 50%));
  @include defineColorHex(--myb-black-light-60, tint($black, 60%));
  @include defineColorHex(--myb-black-light-70, tint($black, 70%));
  @include defineColorHex(--myb-black-light-80, tint($black, 80%));

  @include defineColorHex(--myb-color-1-dark-80, shade($color-1, 80%));
  @include defineColorHex(--myb-color-1-dark-70, shade($color-1, 70%));
  @include defineColorHex(--myb-color-1-dark-60, shade($color-1, 60%));
  @include defineColorHex(--myb-color-1-dark-50, shade($color-1, 50%));
  @include defineColorHex(--myb-color-1-dark-40, shade($color-1, 40%));
  @include defineColorHex(--myb-color-1-dark-30, shade($color-1, 30%));
  @include defineColorHex(--myb-color-1-dark-20, shade($color-1, 20%));
  @include defineColorHex(--myb-color-1-dark-10, shade($color-1, 10%));
  @include defineColorHex(--myb-color-1, $color-1);
  @include defineColorHex(--myb-color-1-light-10, tint($color-1, 10%));
  @include defineColorHex(--myb-color-1-light-20, tint($color-1, 20%));
  @include defineColorHex(--myb-color-1-light-30, tint($color-1, 30%));
  @include defineColorHex(--myb-color-1-light-40, tint($color-1, 40%));
  @include defineColorHex(--myb-color-1-light-50, tint($color-1, 50%));
  @include defineColorHex(--myb-color-1-light-60, tint($color-1, 60%));
  @include defineColorHex(--myb-color-1-light-70, tint($color-1, 70%));
  @include defineColorHex(--myb-color-1-light-80, tint($color-1, 80%));

  @include defineColorHex(--myb-color-2-dark-80, shade($color-2, 80%));
  @include defineColorHex(--myb-color-2-dark-70, shade($color-2, 70%));
  @include defineColorHex(--myb-color-2-dark-60, shade($color-2, 60%));
  @include defineColorHex(--myb-color-2-dark-50, shade($color-2, 50%));
  @include defineColorHex(--myb-color-2-dark-40, shade($color-2, 40%));
  @include defineColorHex(--myb-color-2-dark-30, shade($color-2, 30%));
  @include defineColorHex(--myb-color-2-dark-20, shade($color-2, 20%));
  @include defineColorHex(--myb-color-2-dark-10, shade($color-2, 10%));
  @include defineColorHex(--myb-color-2, $color-2);
  @include defineColorHex(--myb-color-2-light-10, tint($color-2, 10%));
  @include defineColorHex(--myb-color-2-light-20, tint($color-2, 20%));
  @include defineColorHex(--myb-color-2-light-30, tint($color-2, 30%));
  @include defineColorHex(--myb-color-2-light-40, tint($color-2, 40%));
  @include defineColorHex(--myb-color-2-light-50, tint($color-2, 50%));
  @include defineColorHex(--myb-color-2-light-60, tint($color-2, 60%));
  @include defineColorHex(--myb-color-2-light-70, tint($color-2, 70%));
  @include defineColorHex(--myb-color-2-light-80, tint($color-2, 80%));

  @include defineColorHex(--myb-color-3-dark-80, shade($color-3, 80%));
  @include defineColorHex(--myb-color-3-dark-70, shade($color-3, 70%));
  @include defineColorHex(--myb-color-3-dark-60, shade($color-3, 60%));
  @include defineColorHex(--myb-color-3-dark-50, shade($color-3, 50%));
  @include defineColorHex(--myb-color-3-dark-40, shade($color-3, 40%));
  @include defineColorHex(--myb-color-3-dark-30, shade($color-3, 30%));
  @include defineColorHex(--myb-color-3-dark-20, shade($color-3, 20%));
  @include defineColorHex(--myb-color-3-dark-10, shade($color-3, 10%));
  @include defineColorHex(--myb-color-3, $color-3);
  @include defineColorHex(--myb-color-3-light-10, tint($color-3, 10%));
  @include defineColorHex(--myb-color-3-light-20, tint($color-3, 20%));
  @include defineColorHex(--myb-color-3-light-30, tint($color-3, 30%));
  @include defineColorHex(--myb-color-3-light-40, tint($color-3, 40%));
  @include defineColorHex(--myb-color-3-light-50, tint($color-3, 50%));
  @include defineColorHex(--myb-color-3-light-60, tint($color-3, 60%));
  @include defineColorHex(--myb-color-3-light-70, tint($color-3, 70%));
  @include defineColorHex(--myb-color-3-light-80, tint($color-3, 80%));
}
