// Layer settings
$layer-background-blur-animation: true !default;
$layer-background-opacity: 0.8 !default;
$layer-background: rgba($color-3, 0.5) !default;
$layer-z-index: 999 !default;

$layer-inner-animation-size: 100% !default;
