// Z-index
$z-index-1: 10 !default;
$z-index-2: 20 !default;
$z-index-3: 30 !default;
$z-index-4: 40 !default;
$z-index-5: 50 !default;
$z-index-6: 60 !default;
$z-index-7: 70 !default;
$z-index-8: 80 !default;
$z-index-9: 90 !default;

// Animation
$transition-easing: ease-out !default;
$transition-speed: 250ms !default;
