@mixin spacesRootVariables() {
  --myb-space-unit: 1rem;
  --myb-space-xxxxs: calc(0.125 * var(--myb-space-unit));
  --myb-space-xxxs: calc(0.25 * var(--myb-space-unit));
  --myb-space-xxs: calc(0.375 * var(--myb-space-unit));
  --myb-space-xs: calc(0.5 * var(--myb-space-unit));
  --myb-space-sm: calc(0.75 * var(--myb-space-unit));
  --myb-space-md: calc(1.25 * var(--myb-space-unit));
  --myb-space-lg: calc(2 * var(--myb-space-unit));
  --myb-space-xl: calc(3.25 * var(--myb-space-unit));
  --myb-space-xxl: calc(5.25 * var(--myb-space-unit));
  --myb-space-xxxl: calc(8.5 * var(--myb-space-unit));
  --myb-space-xxxxl: calc(13.75 * var(--myb-space-unit));
}
