$font-sans-serif: 'Oswald', sans-serif !default;
$font-serif: 'Times New Roman', serif !default;
$font-monospace: monospace !default;
$font-cursive: 'Charm', cursive !default;

$font-weight-extra-light: 200 !default;
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-black: 900 !default;

@mixin typographyRootVariables() {
  --myb-font-sans-serif: #{$font-sans-serif};
  --myb-font-serif: #{$font-serif};
  --myb-font-monospace: #{$font-monospace};
  --myb-font-cursive: #{$font-cursive};

  --myb-text-base-size: 16px;
  --myb-text-scale-ratio: 1.2;

  --myb-text-xs: calc(
    (1rem / var(--myb-text-scale-ratio)) / var(--myb-text-scale-ratio)
  );
  --myb-text-sm: calc(var(--myb-text-xs) * var(--myb-text-scale-ratio));
  --myb-text-md: calc(
    var(--myb-text-sm) * var(--myb-text-scale-ratio) *
      var(--myb-text-scale-ratio)
  );
  --myb-text-lg: calc(var(--myb-text-md) * var(--myb-text-scale-ratio));
  --myb-text-xl: calc(var(--myb-text-lg) * var(--myb-text-scale-ratio));
  --myb-text-xxl: calc(var(--myb-text-xl) * var(--myb-text-scale-ratio));
  --myb-text-xxxl: calc(var(--myb-text-xxl) * var(--myb-text-scale-ratio));

  @include media('<md') {
    @supports (--css: variables) {
      & {
        --myb-text-base-size: 1.25rem;
        --myb-text-scale-ratio: 1.25;
      }
    }
  }
}
