// Drawer navigation configurations
$drawer-navigation-background: rgba($black, 0.75);
$drawer-navigation-transition-in: all 500ms;
$drawer-navigation-transition-out: all 500ms 500ms;

$drawer-navigation__wrapper-background: $white;
$drawer-navigation__wrapper-transition-in: all 500ms 500ms ease-in-out;
$drawer-navigation__wrapper-transition-out: all 500ms ease-in-out;
$drawer-navigation__wrapper-border-radius: 10px;

$drawer-navigation__wrapper__start-padding: 48px;

$drawer-navigation__wrapper--left-box-shadow: 25px 0 25px 0 rgba($white, 0.25);
$drawer-navigation__wrapper--left-width: 320px;
$drawer-navigation__wrapper--left-height: 100%;

$drawer-navigation__wrapper--right-box-shadow: -25px 0 25px 0 rgba($white, 0.25);
$drawer-navigation__wrapper--right-width: 320px;
$drawer-navigation__wrapper--right-height: 100%;

$drawer-navigation__wrapper--bottom-box-shadow: 0 -25px 25px 0 rgba($white, 0.25);
$drawer-navigation__wrapper--bottom-width: 100%;
$drawer-navigation__wrapper--bottom-height: 65vh;
