- var DATA = require('../data/index.json');

doctype html
html

  include ./includes/head.pug
  include ./includes/menuItem.pug

  head
    +head(DATA)

  body
    +menuItem('index')
    h1 Home
    //- The `compile` method not support require from parent directory
      TODO: fix issue
      img(src=require(DATA.body.image))