html
  head
    link(rel='stylesheet' href=require('../../styles/main.css'))
    link(rel='stylesheet' href=require('./styles.css'))
    link(rel='stylesheet' href=require('../about/styles.css'))
  body
    h1 Demo