@font-face{
  font-family: 'ibm-plex-sans';
  src:
    local('☺'),
    url('../../fonts/ibm-plex-sans-v7-latin-regular.woff2') format('woff2'),
    url('../../fonts/ibm-plex-sans-v7-latin-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}