::-moz-selection {
  background-color: hsla(var(--myb-color-2-hsl), 0.4);
}
::selection {
  background-color: hsla(var(--myb-color-2-hsl), 0.4);
}

input,
textarea,
select,
button {
  font-family: var(--myb-font-sans-serif);
  font-size: var(--myb-text-base-size);
  -webkit-tap-highlight-color: transparent;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: var(--myb-font-monospace);
}

body {
  background-color: var(--myb-white);
  margin: 0;
  font-family: var(--myb-font-sans-serif);
  font-size: var(--myb-text-base-size);
  font-weight: $font-weight-regular;
  line-height: 1.5;
  color: var(--myb-black);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

hr {
  background-color: var(--myb-white-dark-20);
  border: none;
  display: block;
  height: 2px;
  margin: 16px null;
}

[x-cloak] {
  display: none !important;
}
