root = true

[*]
end_of_line = lf
insert_final_newline = true

[{*.cjs,*.js}]
indent_size = 2
tab_width = 2

[{*.htm,*.html,*.pug}]
indent_size = 2
tab_width = 2

[test/cases/**.html]
end_of_line = lf
# disable final new line for expected html files
insert_final_newline = false
