extends @views/layouts/default.pug

//- set variables used in layout
block variables
  //- relative route to current page
  - const route = 'index.html'
  - const title = t`Home`

//- add page specifically styles
append style
  link(href='./styles.scss' rel='stylesheet')

//- add page specifically scripts
append script
  script(src='./main.js' defer='')

block content
  section
    .container.flex-column.center-x
      h1= t`Hello multi-language world!`
