mixin WIcon(first, second)
    i.w-icon
        icon(src=`${first}.svg`, fill="currentColor")&attributes(attributes)
    if second
        icon(src=`${second}.svg`, fill="currentColor")&attributes(attributes)
