// test for same file with same query in both Pug and SCSS
.image {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('~Images/image.png?format=jpg');
}