html
  head
    //- load CSS as file
    link(href=require('Styles/main.css') rel='stylesheet')
    //- inline CSS
    style=require('Styles/inline-styles.css?inline')
  body
    h1 About
    .img-file-style
    .img-inline-style