html
  head
  body
    //- test merging the svg attributes with img attributes into resulting inline svg
    img#logo.inline(src=require('~Images/icons/iphone-comment.svg?inline') style='width: 32px;' aria-hidden='true' stroke="red")
