html
  head
    link(href=require('./favicon.ico') rel='icon')
    //- resolve 'style' field in package.json of the style module
        must be resolved compiled CSS file from node module
    link(href=require('@test-fixtures/scss') rel='alternate stylesheet')
    //- test require scss from local directory
    link(rel='stylesheet' href=require('./style.scss'))
  body
    h1 Hello Pug!