html
  head
    //- the SCSS file from source
    link(rel='stylesheet' href=require('~Styles/main.scss'))
    //- the CSS file from source
    link(rel='stylesheet' href=require('~Styles/about.css'))
  body
    p The usage of the style source directly in the pug template.