- var DATA = require('../data/about.json')

doctype html
html

  include ./includes/head.pug
  include ./includes/menuItem.pug

  head
    +head(DATA)

  body
    +menuItem('about')
    h1 ABOUT ME
    //- The `compile` method not support require from parent directory
      TODO: fix issue
      img(src=require(DATA.body.image))