h2 Simple web application.
p Hello World!

div Here is the content loaded from JavaScript application.
div This supports `live reload` after edit.

p Edit this content and save than the site will be live reloaded.

img(src=require('Images/image.jpeg'))

- var colors = require('App/colors.json')

.colors
    each color in colors
        div(style=`background-color:${color.hex};`)= color.name
