html
  head
    link(rel='stylesheet' href=require('~Styles/main.scss'))
    link(rel='stylesheet' href=require('~Styles/about.css'))
    link(rel='stylesheet' href=require('./styles.css'))
  body
    p The usage of the style source directly in the pug template.