@font-face {
  font-family: 'OpenSans';
  src:
    url('Fonts/OpenSans/open-sans-regular.svg') format('svg'),
    url('Fonts/OpenSans/open-sans-regular.woff2') format('woff2');
  font-style: normal;
}

body {
  font-family: OpenSans, sans-serif;
}

a {
  color: #737373;
  text-decoration: none;

  &.link {
    color: #1993ff;
  }

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  text-align: center;
}

.teaser {
  color: #737373;
  text-align: center;
  font-size: 18px;
}

.copyleft {
  &:before {
    content: '\00a9';
  }
  font-size: 18px;
  display: inline-block;
  transform: scaleX(-1);
}
