html
  head
    link(rel='stylesheet' href=require('../../styles/main.css'))
    link(rel='stylesheet' href=require('./style.css'))
    link(rel='stylesheet' href=require('../about/style.css'))
  body
    h1 Demo