html
  head
    link(rel='stylesheet' href=require('./styles.scss'))
    script(src=require('./main.js'))
  body
    h1 Home
    img(src=require('../../img/icons/chevron-down.svg'))
    img(src=require('../../img/logos/pug.png'))