html
  head
    //- load source manifest file
    link(href='./webmanifest.json' rel='manifest')

    //- load source style
    link(href='./style.css' rel='stylesheet')

    //- load source script
    script(src='./main.js' defer='defer')
  body
    h1 Hello World!

    //- load source image
    img(src='./image.png')
