extends Views/layouts/default.pug

//- set variables used in layout
block variables
  - const title = 'Contact'

//- add page specifically styles
append style
  link(href=require('./styles.scss') rel='stylesheet')

//- add page specifically scripts
append script
  script(src=require('./main.js') defer='')

block content
  section
    .container.flex-column.center-x
      h1 Contact
      .teaser Ask how we can help you on <a href="https://github.com/webdiscus/pug-plugin/discussions" class="link">GitHub</a>.
      img.contact-logo(src=require('Images/contact-logo.png'))
