doctype html
html
  head
    title Home
    link(rel='icon' href='@images/favicon.svg' type='image/svg+xml' sizes='any')
    link(href='./home/styles.scss' rel='stylesheet')
    script(src='./home/main.js' defer)

body
  h1 Home
  div.nav
    a(href="/about/") About
    span &nbsp|&nbsp
    a(href="/contact/") Contact
  img(src='@images/apple.png' alt="apple")
