html
  head
    link(rel='icon' href=require('~Images/favicon.ico'))
    //- test import scss via require
    link(rel='stylesheet' href=require('../assets/styles/main.scss'))
  body
    h1 Hello World!
    div.material-icons home
    div: img(src=require('../assets/images/image.png'))