doctype html
html
  head
    title About
    link(rel='icon' href='@images/favicon.svg' type='image/svg+xml' sizes='any')
    link(href='./styles.scss' rel='stylesheet')
    script(src='./main.js' defer)

body
  h1 About
  div.nav
    a(href="/") Home
    span &nbsp|&nbsp
    a(href="/contact/") Contact
  img(src='@images/apple.png' alt="apple")
