.text-ahmed {
  @apply text-3xl text-red-500 bg-black w-96 p-10;
}

.box-view {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;

  &__item {
    flex-shrink: 0;
    display: inline-flex;
    size: 60px;
    margin-right: var(--myb-space-md);
    margin-bottom: var(--myb-space-md);
    border-radius: 4px;
    box-shadow: 0 8px 20px 0 var(--myb-black-light-70);
  }

  &--black {
    $main-color: black;
    --myb-space-unit: 2rem;

    @include media('<lg') {
      @supports (--css: variables) {
      }
    }

    .box-view__item--dark-10 {
      background-color: var(--myb-#{$main-color}-dark-10);
    }

    .box-view__item--dark-20 {
      background-color: var(--myb-#{$main-color}-dark-20);
    }

    .box-view__item--dark-30 {
      background-color: var(--myb-#{$main-color}-dark-30);
    }

    .box-view__item--dark-40 {
      background-color: var(--myb-#{$main-color}-dark-40);
    }

    .box-view__item--dark-50 {
      background-color: var(--myb-#{$main-color}-dark-50);
    }

    .box-view__item--dark-60 {
      background-color: var(--myb-#{$main-color}-dark-60);
    }

    .box-view__item--dark-70 {
      background-color: var(--myb-#{$main-color}-dark-70);
    }

    .box-view__item--dark-80 {
      background-color: var(--myb-#{$main-color}-dark-80);
    }

    .box-view__item--normal {
      background-color: var(--myb-#{$main-color});
      outline: 2px dashed blue;
    }

    .box-view__item--light-10 {
      background-color: var(--myb-#{$main-color}-light-10);
    }

    .box-view__item--light-20 {
      background-color: var(--myb-#{$main-color}-light-20);
    }

    .box-view__item--light-30 {
      background-color: var(--myb-#{$main-color}-light-30);
    }

    .box-view__item--light-40 {
      background-color: var(--myb-#{$main-color}-light-40);
    }

    .box-view__item--light-50 {
      background-color: var(--myb-#{$main-color}-light-50);
    }

    .box-view__item--light-60 {
      background-color: var(--myb-#{$main-color}-light-60);
    }

    .box-view__item--light-70 {
      background-color: var(--myb-#{$main-color}-light-70);
    }

    .box-view__item--light-80 {
      background-color: var(--myb-#{$main-color}-light-80);
    }
  }

  &--white {
    $main-color: white;

    .box-view__item--dark-10 {
      background-color: var(--myb-#{$main-color}-dark-10);
    }

    .box-view__item--dark-20 {
      background-color: var(--myb-#{$main-color}-dark-20);
    }

    .box-view__item--dark-30 {
      background-color: var(--myb-#{$main-color}-dark-30);
    }

    .box-view__item--dark-40 {
      background-color: var(--myb-#{$main-color}-dark-40);
    }

    .box-view__item--dark-50 {
      background-color: var(--myb-#{$main-color}-dark-50);
    }

    .box-view__item--dark-60 {
      background-color: var(--myb-#{$main-color}-dark-60);
    }

    .box-view__item--dark-70 {
      background-color: var(--myb-#{$main-color}-dark-70);
    }

    .box-view__item--dark-80 {
      background-color: var(--myb-#{$main-color}-dark-80);
    }

    .box-view__item--normal {
      background-color: var(--myb-#{$main-color});
      outline: 2px dashed blue;
    }

    .box-view__item--light-10 {
      background-color: var(--myb-#{$main-color}-light-10);
    }

    .box-view__item--light-20 {
      background-color: var(--myb-#{$main-color}-light-20);
    }

    .box-view__item--light-30 {
      background-color: var(--myb-#{$main-color}-light-30);
    }

    .box-view__item--light-40 {
      background-color: var(--myb-#{$main-color}-light-40);
    }

    .box-view__item--light-50 {
      background-color: var(--myb-#{$main-color}-light-50);
    }

    .box-view__item--light-60 {
      background-color: var(--myb-#{$main-color}-light-60);
    }

    .box-view__item--light-70 {
      background-color: var(--myb-#{$main-color}-light-70);
    }

    .box-view__item--light-80 {
      background-color: var(--myb-#{$main-color}-light-80);
    }
  }

  &--color-1 {
    $main-color: color-1;

    .box-view__item--dark-10 {
      background-color: var(--myb-#{$main-color}-dark-10);
    }

    .box-view__item--dark-20 {
      background-color: var(--myb-#{$main-color}-dark-20);
    }

    .box-view__item--dark-30 {
      background-color: var(--myb-#{$main-color}-dark-30);
    }

    .box-view__item--dark-40 {
      background-color: var(--myb-#{$main-color}-dark-40);
    }

    .box-view__item--dark-50 {
      background-color: var(--myb-#{$main-color}-dark-50);
    }

    .box-view__item--dark-60 {
      background-color: var(--myb-#{$main-color}-dark-60);
    }

    .box-view__item--dark-70 {
      background-color: var(--myb-#{$main-color}-dark-70);
    }

    .box-view__item--dark-80 {
      background-color: var(--myb-#{$main-color}-dark-80);
    }

    .box-view__item--normal {
      background-color: var(--myb-#{$main-color});
      outline: 2px dashed blue;
    }

    .box-view__item--light-10 {
      background-color: var(--myb-#{$main-color}-light-10);
    }

    .box-view__item--light-20 {
      background-color: var(--myb-#{$main-color}-light-20);
    }

    .box-view__item--light-30 {
      background-color: var(--myb-#{$main-color}-light-30);
    }

    .box-view__item--light-40 {
      background-color: var(--myb-#{$main-color}-light-40);
    }

    .box-view__item--light-50 {
      background-color: var(--myb-#{$main-color}-light-50);
    }

    .box-view__item--light-60 {
      background-color: var(--myb-#{$main-color}-light-60);
    }

    .box-view__item--light-70 {
      background-color: var(--myb-#{$main-color}-light-70);
    }

    .box-view__item--light-80 {
      background-color: var(--myb-#{$main-color}-light-80);
    }
  }

  &--color-2 {
    $main-color: color-2;

    .box-view__item--dark-10 {
      background-color: var(--myb-#{$main-color}-dark-10);
    }

    .box-view__item--dark-20 {
      background-color: var(--myb-#{$main-color}-dark-20);
    }

    .box-view__item--dark-30 {
      background-color: var(--myb-#{$main-color}-dark-30);
    }

    .box-view__item--dark-40 {
      background-color: var(--myb-#{$main-color}-dark-40);
    }

    .box-view__item--dark-50 {
      background-color: var(--myb-#{$main-color}-dark-50);
    }

    .box-view__item--dark-60 {
      background-color: var(--myb-#{$main-color}-dark-60);
    }

    .box-view__item--dark-70 {
      background-color: var(--myb-#{$main-color}-dark-70);
    }

    .box-view__item--dark-80 {
      background-color: var(--myb-#{$main-color}-dark-80);
    }

    .box-view__item--normal {
      background-color: var(--myb-#{$main-color});
      outline: 2px dashed blue;
    }

    .box-view__item--light-10 {
      background-color: var(--myb-#{$main-color}-light-10);
    }

    .box-view__item--light-20 {
      background-color: var(--myb-#{$main-color}-light-20);
    }

    .box-view__item--light-30 {
      background-color: var(--myb-#{$main-color}-light-30);
    }

    .box-view__item--light-40 {
      background-color: var(--myb-#{$main-color}-light-40);
    }

    .box-view__item--light-50 {
      background-color: var(--myb-#{$main-color}-light-50);
    }

    .box-view__item--light-60 {
      background-color: var(--myb-#{$main-color}-light-60);
    }

    .box-view__item--light-70 {
      background-color: var(--myb-#{$main-color}-light-70);
    }

    .box-view__item--light-80 {
      background-color: var(--myb-#{$main-color}-light-80);
    }
  }

  &--color-3 {
    $main-color: color-3;

    .box-view__item--dark-10 {
      background-color: var(--myb-#{$main-color}-dark-10);
    }

    .box-view__item--dark-20 {
      background-color: var(--myb-#{$main-color}-dark-20);
    }

    .box-view__item--dark-30 {
      background-color: var(--myb-#{$main-color}-dark-30);
    }

    .box-view__item--dark-40 {
      background-color: var(--myb-#{$main-color}-dark-40);
    }

    .box-view__item--dark-50 {
      background-color: var(--myb-#{$main-color}-dark-50);
    }

    .box-view__item--dark-60 {
      background-color: var(--myb-#{$main-color}-dark-60);
    }

    .box-view__item--dark-70 {
      background-color: var(--myb-#{$main-color}-dark-70);
    }

    .box-view__item--dark-80 {
      background-color: var(--myb-#{$main-color}-dark-80);
    }

    .box-view__item--normal {
      background-color: var(--myb-#{$main-color});
      outline: 2px dashed blue;
    }

    .box-view__item--light-10 {
      background-color: var(--myb-#{$main-color}-light-10);
    }

    .box-view__item--light-20 {
      background-color: var(--myb-#{$main-color}-light-20);
    }

    .box-view__item--light-30 {
      background-color: var(--myb-#{$main-color}-light-30);
    }

    .box-view__item--light-40 {
      background-color: var(--myb-#{$main-color}-light-40);
    }

    .box-view__item--light-50 {
      background-color: var(--myb-#{$main-color}-light-50);
    }

    .box-view__item--light-60 {
      background-color: var(--myb-#{$main-color}-light-60);
    }

    .box-view__item--light-70 {
      background-color: var(--myb-#{$main-color}-light-70);
    }

    .box-view__item--light-80 {
      background-color: var(--myb-#{$main-color}-light-80);
    }
  }
}
