doctype html
html
  head
    title Contact
    link(rel='icon' href=require('Images/favicon.svg') type='image/svg+xml' sizes='any')
    link(href=require('./styles.scss') rel='stylesheet')
    script(src=require('./main.js') defer)

body
  h1 Contact
  div.nav
    a(href="index.html") Home
    span &nbsp|&nbsp
    a(href="about.html") About
  img(src=require('Images/apple.png') alt="apple")
