img {
  width: 120px;
}

#app-root {
  padding: 20px;
  background-color: #ffe280;
}

#static-content {
  padding: 20px;
  background-color: #7fffb8;
}

.main {
  color: darkgoldenrod;
}

.colors {
  width: 120px;
  color: yellow;
  text-align: center;
}
