$color: #1245b7;

.autoprefixer-example {
  color: $color;
  opacity: 0.7;
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: fit-content;
  padding: 10px 5px;
  border: 2px solid #d5640f;
  border-radius: 10px;
}
