doctype html
html(lang="en", dir="ltr")
  head
    block head
      title Responsive image
      meta(charset="UTF-8")
      link(rel="icon" type="image/webp" sizes="192x192" href=require('./../../img/favicon.png?size=192'))

    block style
      link(rel="stylesheet", href=require('../../scss/main.scss'))

  body
    #app
      block fixed
      block header

      main.main-content
        block body

      block footer

    block script
      script(src=require('../../js/main.js'))