$color: darkred;

@font-face {
  font-family: 'ibm-plex-sans-regular';
  src: url('../fonts/ibm-plex-sans-v7-latin-regular.woff2');
  src: local('☺'),
    url('../fonts/ibm-plex-sans-v7-latin-regular.woff2') format('woff'),
    url('../fonts/ibm-plex-sans-v7-latin-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: $color;
  font-family: 'ibm-plex-sans-regular', serif;
}