extends ./layouts/default.layout.pug

block body
    h1= title
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    button.text-ahmed click me
