doctype html
html
  head
    title Home
    link(rel='icon' href=require('Images/favicon.svg') type='image/svg+xml' sizes='any')
    link(href=require('./styles.scss') rel='stylesheet')
    script(src=require('./main.js') defer)

body
  h1 Home
  div.nav
    a(href="about.html") About
    span &nbsp|&nbsp
    a(href="contact.html") Contact
  img(src=require('Images/apple.png') alt="apple")
