//- test for same file with same query in both Pug and SCSS
link(href=require('~Styles/main.scss') rel='stylesheet')
img.a(src=require('../assets/images/image.png?format=jpg'))
img.b(src=require('~Images/image.png?format=jpg'))
.image